<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Error - Word Cloud Generator</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<style>
    body{
        text-align: center;
    }
</style>
<body>

<h1>Oops! An Error Occurred</h1>
<img src="https://i.namu.wiki/i/ofD7KnlPx77GAYxjRRSCoR1FzMosBr0CEYeG1hN5iVY2SyRHz3irWWOHEVTfgc3bjWwaQdy61lrpBfNXE4gA-Q.gif" loop=infinite />
<p>Sorry, an error occurred while generating the word cloud.</p>
<p>Please try again later or contact support for assistance.</p>
</body>
</html>
