<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Word Cloud Generator</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1>Word Cloud Generator</h1>
<form action="/details" method="get">
    <button type="submit" name="keyword" value="Social">사회</button>
    <button type="submit" name="keyword" value="Political">정치</button>
    <button type="submit" name="keyword" value="Economic">경제</button>
    <button type="submit" name="keyword" value="International">국제</button>
    <button type="submit" name="keyword" value="Cultural">문화</button>
    <button type="submit" name="keyword" value="Entertainment">연예</button>
    <button type="submit" name="keyword" value="Sports">스포츠</button>
    <button type="submit" name="keyword" value="IT">IT</button>
</form>
</body>
</html>
